@use './sass/colors';
@use './sass/layout';
@use './sass/spacing';
@use './sass/typography';
@use './sass/menu';
@use './sass/buttons';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cursor-ball {
  position: fixed;
  top: -0.5%;
  left: -0.5%;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  pointer-events: none;
  transform: translate(-50%, -50%);

  transition: transform 0.1s ease-out;
  z-index: 9999;

  &::after {
    position: fixed;

    content: "";
    border: 2px solid white;

    padding: 10px;
    
    border-radius: 50%;

    width: 16px;
    height: 16px;

  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  background-color: colors.$white-normal;
}

.border {
  border: 1px solid red;
}

.border-radius {
  border-radius: 8px;
}

.block {
  display: block;
}

.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

svg,
img {
  width: 100%;
  //height: auto;
}