@use './colors';
@use './layout';
@use './spacing';
@use './typography';

a {
  @include typography.typeface-2(p2, desktop);
  text-decoration: none;
  color: colors.$white-normal;
  transition: .5s ease;

  &:hover {
    opacity: 0.8;
  }
}

.button {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 3px solid colors.$white-normal;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: colors.$white-normal;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

.button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: colors.$white-normal;
  z-index: -1;
}

.button:hover,
.button:focus {
  color: transparent;
}

.button:hover:before,
.button:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.button:active {
  transform: scale(0.9);
}

.container-return-top {
  position: relative;
}

.return-top {
  display: none;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(10px);

  position: fixed;
  bottom: 7%;
  right: calc((100vw - 1440px) / 2);
  z-index: 1000;

  width: 52px;
  height: 52px;

  border-radius: 50%;

  align-items: center;
  justify-content: center;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;

    transform: rotate(-90deg);
  }

}

.return-top.show {
  display: flex;
}