@use 'colors';
@use 'spacing';

// Layout of project

// Container-devices
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Mixin of media-queries
@mixin responsive($device) {
  @if $device ==xl {

    // For resolutions upper 1440px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  }

  @else if $device ==l {

    // For resolutions between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  }

  @else if $device ==m {

    // For resolutions between 960px and 1440px
    @media screen and (max-width: $container-l) and (min-width: $container-s) {
      @content;
    }
  }

  @else if $device ==s {

    // For resolutions less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  }

  @else if $device ==xs {

    // For resolutions less than 540px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container {
  max-width: $container-xl;
  margin: 0 auto;

  padding: 96px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive(s) {
    flex-direction: column;

    padding: 32px 18px;
  }
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.relative {
  position: relative;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-auto {
  flex: 1 1 auto;
}

// Width's
.width-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .disappear {
    display: none;
  }
}

//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////
//////////////////////////////////////


// HERO SECTION

.hero {
  position: relative;

  height: 100vh;
  z-index: 1;

  display: flex;
  justify-content: center;
}

.bg-slider {
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: absolute;

  transition: all 0.5s ease-in-out;

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7); // escurecimento
    z-index: 2;
    pointer-events: none;
  }

  img {
    position: absolute;

    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;

    opacity: 0;
    z-index: 0;
    transition: 0.5s ease-in-out;
  }
}

.img-slider.active-img {
  opacity: 1;
  z-index: 1;
}

.bullets-container {
  position: absolute;
  bottom: 8%;
}

.bullets-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: spacing.$gap-8;
}

.bullet {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: colors.$white-normal;
  cursor: pointer;
}

.active-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: colors.$secondary-normal;
  cursor: pointer;
  transition: all 0.3s ease;
}

// SERVICES SECTION

.services {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid-services {
  display: grid;
  gap: 32px;
  width: 100%;
  height: 100%;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, minmax(256px, auto));

  grid-template-areas:
    "a a b b c c"
    "d d d e e e"
  ;

  @include responsive(s) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
  }
}

.construcao-civil {
  grid-area: a;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../../img/construcao-civil.jpg);

  color: white;
}

.pintura-predial {
  grid-area: b;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../../img/pintura-predial.jpg);
}

.terraplanagem {
  grid-area: c;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../../img/terraplanagem.jpg);
}

.concreto-armado {
  grid-area: d;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../../img/concreto-armado.jpg);
}

.estruturas-metalicas {
  grid-area: e;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../../img/estruturas-metalicas.jpg);

  transition: .5s ease;
}
.service-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 24px 24px;
  border-radius: 12px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  cursor: pointer;

  @include responsive(s) {
    height: 256px;
  }

  .arrow-services {

    align-self: flex-end;
    justify-self: flex-start;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);

    width: 42px;
    height: 42px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transform: rotate(-45deg);

    svg {
      width: 16px;
      height: 16px;
    }
  }

  h3 {
    align-self: flex-start;
    color: colors.$white-normal;
    font-weight: 500;
  }
}